# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Build output / temp files
dist/
build/
.tmp/
temp/
*.tmp

# MongoDB local database files
/data/db/
*.lock
mongod.lock

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Cache
.cache/
.eslintcache/
.parcel-cache/
