*{
  color: #ececec;
  font-family: Roboto,'Open Sans' ,'Helventica Neue',sans-serif;

}
body{
  margin: 0;
  pad: 0;
}

.app{
  background-color: #212121;
  display: flex;
}
.logo{
  width: 50px;
  height: 50px;
}